@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  background-color: #f5f7fa; /* 연한 회색 */
  color: #2d2d2d; /* 다크 그레이 텍스트 */
  font-family: "Merriweather", Georgia, serif; /* 고급스러운 세리프 폰트 */
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
